
div{
  margin: 15px;
}

main{
  max-width: 50%;
  margin: 0 auto;
  background-color: blanchedalmond;
  text-align: center;
  padding: 20px;
}

#current_savings{
  border-radius: 25px;
  width: 30%;
  padding: 10px;
  text-align: center;
}